.form {
  width: 100%;
  &-input {
    width: 100%;
    padding: .7rem;
    margin: 1rem 0;
    font-size: 1.2em;
    color: teal;
    border: none;
    border-radius: 10px;
    &::placeholder {
        font-size: 1.2rem;
        color: rgb(133, 133, 133);
    }
  }
}